.locations-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-background-dark);
  display: flex;
  justify-content: center;
}

.location-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  font-size: 36px;
  cursor: pointer;
}

.locations {
  width: 720px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 50px;
  padding: 0 20px;
}

.locations h1 {
  margin: 0;
  max-width: fit-content;
  cursor: pointer;
}